<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}aboutBooks{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
            <style>
                {% block stylesheets %}
                {% endblock %}
                #toppanel {
                    background-color: #000000;
                    width: 100%;
                    font-size: 18px;
                    font-weight: bold;
                }
                #toppanel a {
                    color: #FFFFFF;
                    text-decoration: none;
                }
                .form-element {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                h5 {
                    font-weight: bold;
                }
                div:empty {
                    display: none;
                }
                .menuButton {
                    background-color: #000000;
                    color: #FFFFFF;
                    padding: 10px;
                    margin: 0px left;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: Verdana;
                }
                .big-well {
                    margin: 5px auto;
                    text-align: center;
                    min-width: 300px;
                }
                td {
                    padding: 10px;
                }
            </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="margin: 0px auto; text-align: center;">
        <div id="toppanel">
            <img src="{{ asset('logo.png') }}" />
        </div>
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('menuButtons.js') }}"></script>
        {% endblock %}
    </body>
</html>
